@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf);
}
*{
    font-family:"Gilroy","Arial",sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: content-box;
}
*::before,
*::after{
    box-sizing: inherit;
}


.footer{
    width: 100%;
    background-color: #20242D;  
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 77px;
}
.footer-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 66px;
}
.footer-list{
    list-style: none;
    display: flex;
}
.footer-list li:last-child .link-footer{
    padding-right: 0;
}
.footer-content-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 24px;
}
.link-footer{
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
text-decoration: none;
padding-right: 56px;
}
.link-footer:hover{
    color: #FF7129;
    }
    .link-footer:focus,
    .link-footerr:active{
    color: #FF7129;  
    }
.button-footer{
    font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
 background-color: #20242D;
 width: 187px;
height: 49px;
border: 1px solid #FF7129;
}
.button-footer:hover{
    background-color: #D35E22;
}
.button-footer:focus,
.button-footer:active{
    background-color: #d3906e;
}
.link-footer1{
    font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #7B7E85;
}

  .header{
      width: 100%;
  }
  .header-link{
      position: relative;
      content: "";
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-decoration: none;
  }

  .header-link::before,
  .header-link:first-child::before{
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-position: center;
      background-repeat: no-repeat;
      left: -23px;
      top: 2px;
    }
    .header-link::before{
        background-image: url(../img/tellnav.svg);
    }
  .header-link:first-child::before{
      background-image: url(../img/mailnav.svg);
  }
.header-box-black{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 34px;
    align-items: center;
    background-color: #20242D;
}
.header-addres{
 font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
margin-left: 50px;
}
.box-link{
    margin-right: 50px;
    
}
.header-link:first-child{
    margin-right: 77px;
}   
.header-box{
    min-height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}
.header-list{
    display: flex;
    list-style: none;   
}
.link-header{
    position: relative;
    content: "";
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #20242D;
text-decoration: none;
margin-left: 56px;
}
.link-header:hover{
color: #FF7129;
}
.link-header:focus,
.link-header:active{
    color: #FF7129;  
}
.link-header:active::before,
.link-header:active::after{
    position: absolute;
    content: "";
    background-color: #FF7129;
    width: 10px;
    height: 1px;
    top: 8px;
}
.link-header:active::after{
    right: -18px;   
}
.link-header:active::before{
    left: -18px;
}

.link-header:hover::before,
.link-header:hover::after{
    position: absolute;
    content: "";
    background-color: #FF7129;
    width: 10px;
    height: 1px;
    top: 8px;
}
.link-header:hover::after{
    right: -18px;   
}
.link-header:hover::before{
    left: -18px;
}




.main{
    width: 100%;
}
.main-section{
    position: relative;
    content: "";
    background-image:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/indexfon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 844px;
}
.main-section::before{
    position: absolute;
    content: "Solar";
    width: 379px;
    height: 145px;
    color: transparent;
font-weight: bold;
font-size: 120px;
line-height: 145px;
 text-transform: uppercase;
 opacity: 0.3;
 border:  #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFFFFF;
top: 167px;
left: 50px;
}
.main-section::after{
    position: absolute;
    content: "Energy";
    width: 444px;
    height: 145px;
    color: transparent;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    text-transform: uppercase;
    opacity: 0.3;
    border:  #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFFFFF;
bottom: 282px; 
right: 50px;
}
.main-section{
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.main-titel{
    font-weight: bold;
font-size: 92px;
line-height: 111px;
text-align: center;
color: #FFFFFF;
}
.main-paragraph{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
padding-top: 16px;
}
.main-button{
    padding-top: 59px;
}
.button-main{
    font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
background-color: #FF7129;
    width: 187px;
    height: 49px;
}
.button-main:hover{
    background-color: #D35E22;
}
.button-main:focus,
.button-main:active{
    background-color: #d3906e;
}
.main-section-text{
    width: 100%;
    min-height: 847px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-subtitle{
    position: relative;
    content: "";
}
.text-main .title-subtitle {
    margin-bottom: 64px;
    margin-left: 17px;
}
.title-subtitle::before,
.title-about::before{
    position: absolute;
    content: "";
    background-color: #FF7129;
    width: 1px;
    height: 52px;
    left: -17px;
}
.text-main::before{
    position: absolute;
    content: "info";
    width: 217px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
opacity: 0.1;
border:  #20242D;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #20242D;
top: -69px;
left:-29px ;
}
.main-paragraph-text{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #20242D;
max-width: 532px;
max-height: 216px;
padding-bottom: 32px;
}
.text-main{
    margin-left: 65px;
    position: relative;
    content: "";
}



.main-section-about{
    background-image:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/fononas.jpg);
    height: 350px;
    position: relative;
    content: "";
}
.title-about{
    position: relative;
    content: "";
font-weight: bold;
font-size: 48px;
line-height: 97%;
color: #FFFFFF;
padding-top:200px;
margin-left: 217px;
padding-bottom: 103px;
}
.section-about-text{
    display: flex;
    justify-content: center;
    min-height: 432px;
}
.main-section-about::before{
    position: absolute;
    content: "ABout";
    width: 313px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
opacity: 0.3;
border:  #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  #FFFFFF;
left: 173px;
top: 131px;
}
.paragraph-about{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #20242D;
padding-bottom: 32px;
}
.paragraph-about-two{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;   
}
.main-paragraph-container{
    max-width: 534px;
    max-height: 168px;
    margin-top: 80px;  
}
.section-about-text-two{
    max-width: 534px;
    max-height: 72px;
    margin-left: 66px; 
    margin-top: 80px;
}



.projekty-main .title-subtitle{
    padding-top: 123px;
    margin-left: 218px;
    margin-bottom: 34px;
}
.projekty-main-img{
    padding-top: 37px;
    padding-left: 299px;
    padding-bottom: 153px;
}
.projekty-main{
    position: relative;
    content: "";
}
.projekty-main::before{
    position: absolute;
    content: "GAllery";
    width: 398px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.1;
border: #20242D;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  #20242D;
left: 174px;;
top: 56px;

}

.title-subtitle{
    font-weight: bold;
font-size: 48px;
line-height: 97%;
color: #20242D;
}
.contacts-section-titel .title-subtitle {
    padding-top: 125px;
    margin-left: 217px;
    padding-bottom: 67px;
}
.contacts-section-titel{
    position: relative;
    content: "";
}
.contacts-section-titel::before{
    position: absolute;
    content: "Contacts";
    width: 493px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
opacity: 0.1;
border:#20242D;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  #20242D;
top: 56px;
left: 173px;
}
.contacts-section-link{
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts-link{
    font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #7B7E85;
padding-top: 54px;
padding-bottom: 12px;

}
.contacts-mail-list{
font-size: 16px;
line-height: 19px;
color: #20242D;
margin-left: 28px;

text-decoration: none;
}
.contacts-address-link{
    font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #20242D; 
margin-left: 28px;

}
.contacts-tel-list{
    font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #20242D;
margin-left: 29px;
text-decoration: none;
}
.contacts-address-link,
.contacts-mail-list,
.contacts-tel-list{
    position: relative;
    content: "";
}
.contacts-address-link::before{
    position: absolute;
    content: "";
    background-image: url(../img/addrescontact.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    left: -26px;  
}
.contacts-tel-list::before{
    position: absolute;
    content: "";
    background-image: url(../img/tellnav.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    left: -26px;  
    top: 2px;
}
.contacts-mail-list::before{
    position: absolute;
    content: "";
    background-image: url(../img/mailnav.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    left: -26px;  
    top: 2px;
}
.contacts-list-li{
    padding-left: 201px;
}
.contacts-img{
    background-image: url(../img/maps.jpg);
    width: 800px;
    height: 543px;
}
.contacts-list{
    padding-bottom: 174px;
}



.section-installation{
    background-image:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/foninstal.jpg);
    max-width: 1600px;
    min-height: 412px;
    position: relative;
    content: "";
}
.section-installation::before{
    position: absolute;
    content: "Foton-tech";
    width: 590px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
opacity: 0.3;
border: #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  #FFFFFF;
top: 0;
left: 0;
}
.section-installation::after{
    position: absolute;
    content: "Instalacja";
    width: 548px;
    height: 116px;
    color: transparent;
    font-weight: bold;
font-size: 96px;
line-height: 116px;
text-transform: uppercase;
opacity: 0.3;
border: #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  #FFFFFF;
bottom: -25px;
right: -21px;
}

.installasion-list{
    width: 700px;
    height: 40px;
    background-color: #F2F2F2;
}

.title-installation{
    font-weight: bold;
font-size: 72px;
line-height: 87px;
color: #FFFFFF;
padding-left: 451px;
padding-top: 162px;
}
.installation-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 152px;
}
.installation-text{
    max-width: 700px;
    padding-bottom: 64px;
}
.installation-text-last{
    max-width: 700px;
}
.title-paragraph-installation,
.title--installation-last{
    font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #20242D;
}
.title-paragraph-installation{
    margin-left: 16px;
    padding-bottom: 32px;
}
.title--installation-last{
    margin-left: 41px;
}
.title-paragraph-installation,
.title--installation-last{
    position: relative;
    content: "";
}
.title-paragraph-installation::before,
.title--installation-last::before{
    position: absolute;
    content: "";
    background-color: #FF7129;
    width: 1px;
    height: 42px;
    left: -16px;
}
.title--installation-last{
    margin-right: 41px;
    padding-top: 32px;
}

.paragraph-installation-one{
    padding-bottom: 24px;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #20242D;
}
.paragraph-installation{
padding-bottom: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #20242D;
padding-bottom: 24px;
}
.paragraph-installation:last-child{
    padding-bottom: 0;
}
.installation-img{
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.paragraph-installation-box{
     background-color: #F5F5F5;
width: 698px;
height: 122px;
}
.paragraph-installation-two{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
    width: 650px;
    height: 950px;
    padding: 16px 24px;
}
.paragraph-installasion-box-one{
    background-color: #F5F5F5;
    width: 700px;
    height: 236px;
}
.paragraph-installasion-three{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #20242D;
padding: 32px 24px;
width: 652px;
height: 96px;
}
span{
    color: #FF7129;
}
.list-installasion{
    padding-bottom: 32px;
    list-style: none; 
    margin-left: 57px;
}
.installasion-list{
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #20242D;
padding-bottom: 32px;
}
.installasion-list{
    position: relative;
    content: "";
}
.installasion-list:last-child{
    padding-bottom: 0;
}
.installasion-list::before{
    position: absolute;
    content: "";
    background-image: url(../img/listinstal.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    left: -37px;
}

